
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.boxes {
  width: 580px;
  margin: 5em auto 0; }
  .boxes .box {
    background: #EFEFEF;
    border-radius: 4px;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 35px;
    margin-bottom: 35px;
    padding: 1.75em;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s ease;
    background-size: 450px 450px;
    background-repeat: no-repeat;
    background-position: center center;}
    .boxes .box:nth-child(3n) {
      margin-right: 0; }
