/*  Base Styles -------------------------------------------------- */
* {
	/*border: 1px black solid;*/
	box-sizing: border-box;
}

body {
	background: #fffcf7;
}

h1 {
	font-size: 30px;
}

ul {
	list-style: none;
	width: 535px;
	float: right;
	margin-top: 45px;
}

li {
	line-height: 35px;
}

img {
	width: 145px;
	height: 145px;
	border-radius: 100%;
	float: left;
	margin-top: 25px;
	margin-left: 20px;
}

/* Main Styles -------------------------------------------------- */

ul {
	margin: 50px 50px 45px 135px;
	display: inline;
	/*border: 3px solid #DEE2E3;*/
	border-radius: 15px;
}

.box {
	border: 3px solid blue;
	border-radius: 15px;
	/*max-width: 32%;  OR */
	width: 540px;
	height: 215px;

}


.name {
	font-weight: bold;
}

/*div ul li {
	max-width: 33%;
}*/
